<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="jumbotron">
			<h1>
				GitHub-Reminders.com - Your Reminders for GitHub -- BETA
			</h1>
			<p>
				Get a email reminder by creating a GitHub issue comment with a emoji and a natural language date.
				<br>
				Login and Signup with your GitHub.com Account to get started
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="/login">Signup</a>
			</p>
		</div>
		<div class="page-header">
			<h2>
				How it works <small>in 3 easy steps</small>
			</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img alt="300x200" src="/images/gh_repo_screenshot.png" />
					<div class="caption">
						<h3>
							Step 1
						</h3>
						<p>
							Register your a Webhook and/or Repository.
						</p>
<!-- 							<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img alt="300x200" src="/images/reminder_screenshot.png" />
					<div class="caption">
						<h3>
							Step 2
						</h3>
						<p>
							Post a Comment in the issue queue:
							<br>
							Copy me!
							<pre>:alarm_clock: in 1 minute | This is Amazing!</pre>
							Paste into your GitHub Issue Comment.
						</p>
<!-- 							<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img alt="300x200" src="/images/email_reminder_screenshot.png" />
					<div class="caption">
						<h3>
							Step 3
						</h3>
						<p>
							Recevie your email notification at the scheduled time.
						</p>
<!-- 							<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p> -->
					</div>
				</div>
			</div>
		</div>
		<div class="jumbotron well">
			<h3>
				The Details
			</h3>
			<p>
				<h4>GitHub-Reminders Syntax</h4>
				Our Syntax is simple:
				<br>
				<code>:alarm_clock: DateTime | Reminder Message</code>
				<br>
				We use the <code>|</code> (pipe, key above the enter/return key) as the separator between the DateTime phrase and your reminder.

			</p>
			<p>
				<h4>Natural Language Date and Time Parsing</h4>
				GitHub-Reminders is built using Chronic gem which provides natural language parsing.  Any Natural Language Date and Time that Chronic supports, GitHub-Reminders will support.  If you only provide a time and not a date, we assume you referring the current date.
			</p>
			<p>
				<h4>Your Email Reminder</h4>
				Your email reminder is returned at the specific date and time you indicated in your GitHub-Reminder Syntax.  We use the timezone from the profile you created when signing up for GitHub-Reminders to ensure you get your email at the right time.  Emails are also fully responsive so they will display in a mobile friendly format.
			</p>
			<p>
				<h4>Registering WebHooks, What, Why, and How?</h4>
				A webhook is a web service call to the GitHub-Reminders server that is send by GitHub.com.  We have GitHub.com send these web service calls whenever a comment is made in the Issue queue.
			</p>	
			<p>
				<h4>Registering Repositories, What, Why, and How?</h4>
				When someone registers a webhook, we make that webhook available to all GitHub-Reminder users.  This means that as long as you have access to the Issue Queue, you Register the Repository, you will receive reminders when you use the GitHub-Reminder Syntax.  Registering a Repository tells GitHub-Reminders that you want to receive reminders.
			</p>												
<!-- 				<p>
				<a class="btn btn-primary btn-large" href="#">Learn more</a>
			</p> -->
		</div>
	</div>
</div>
