<div class="row clearfix">
	<div class="col-md-12 column">
		<div class="jumbotron">
			<h1>
				GitHub-Reminders.com - Your Reminders for GitHub -- BETA
			</h1>
			<p>
				Get a email reminder by creating a GitHub issue comment with a emoji and a naural language date.
				<br>
				Login and Signup with your GitHub.com Account to get started
			</p>
			<p>
				<a class="btn btn-primary btn-large" href="/login">Signup</a>
			</p>
		</div>
		<div class="page-header">
			<h2>
				How it works <small>3 easy steps to start getting your GitHub-Reminders</small>
			</h2>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="thumbnail">
					<img alt="300x200" src="http://lorempixel.com/600/200/people" />
					<div class="caption">
						<h3>
							Step 1
						</h3>
						<p>
							Login, Create your Profile, and Register your a Webhook and Repository.
						</p>
<!-- 							<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img alt="300x200" src="/images/reminder_screenshot.png" />
					<div class="caption">
						<h3>
							Step 2
						</h3>
						<p>
							Create a new Comment in your registered repo's issue queue using the GitHub-Reminder Syntax:
							<em>:alarm_clock: Tomorrow at 9am | Ensure images have been approved by client</em>
							<br>
							We use Natual Language Parsing for Dates and Times, so you do not need to worry about complicated date formats or knowing the specific date or time you want to be reminded.
						</p>
<!-- 							<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p> -->
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="thumbnail">
					<img alt="300x200" src="http://lorempixel.com/600/200/people" />
					<div class="caption">
						<h3>
							Step 3
						</h3>
						<p>
							You will get a email reminder at the speicific date and time you set.
						</p>
<!-- 							<p>
							<a class="btn btn-primary" href="#">Action</a> <a class="btn" href="#">Action</a>
						</p> -->
					</div>
				</div>
			</div>
		</div>
		<div class="jumbotron well">
			<h3>
				The Details
			</h3>
			<p>
				<h4>GitHub-Reminders Syntax</h4>
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<h4>Natural Language Date and Time Parsing</h4>
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<h4>Your Email Reminder</h4>
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>
			<p>
				<h4>Registering WebHooks, What, Why, and How?</h4>
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>	
			<p>
				<h4>Registering Repositories, What, Why, and How?</h4>
				This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
			</p>												
<!-- 				<p>
				<a class="btn btn-primary btn-large" href="#">Learn more</a>
			</p> -->
		</div>
	</div>
</div>
