<h1>Reminder Listing</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Reminder Listing</h2>
	</div>
		<div class="panel-body">
			<p>List of your Reminders</p>
		</div>

		<%= @reminderListing %>

</div>

