<h1>Repository Listing</h1>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Job Scheduled Date Info</h2>
	</div>
		<div class="panel-body">
			<!-- <p>These are the repositories that you have downloaded</p> -->
		</div>

	<p><% @jobScheduledDate %></p>

</div>

